.sort-buttons-group {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    padding-top: 20px;
}

.sort-button {
    background-color: #e0e0e0 !important;
    border: 1px solid #cccccc !important;
    border-radius: 8px !important;
    padding: 6px 12px !important;
    box-shadow: none !important;
    min-height: 40px;
}

.dark-mode .sort-button {
    background-color: #000000 !important;
    border: 1px solid #666666 !important;
}

.dark-mode .arrow-icon {
    filter: invert(100%) brightness(1.2) !important;
}

.sort-button.active {
    background-color: #c0c0c0 !important;
}
.dark-mode .sort-button.active {
    background-color: #606060 !important;
}

.sort-button:hover {
    background-color: #b0b0b0 !important;
}
.form-content.dark-mode .sort-button:hover {
    background-color: #707070 !important;
}