.card.card-default {
  border: 1px solid black;
}

.card.card-error {
  border: 2px solid red !important;
}

.card.card-current {
  border: 2px solid #3A7BD5 !important;
}

.card.card-unselected {
  cursor: pointer;
  border: 1px solid black;
}

.card-header.header-custom {
  background-color: #f8f9fa;
  padding: 5px;
}

.icon-clickable {
  cursor: pointer;
}

.icon-noclick {
  cursor: default;
}

.sub-custom {
  height: 4rem;
  padding-left: 5px;
  padding-right: 5px;
}

.card-footer.footer-custom {
  background-color: #f8f9fa;
  padding: 5px;
}

.div-custom {
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  font-size: 12px;
  height: 100%;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  max-width: 100%;
  width: 100%;
}


.edit-button {
  margin: 0;
  padding: 0;
  border-width: 0px;
  background-color: inherit;
}

.card-header.header-custom.dark-mode .icon-clickable,
.card-footer.footer-custom.dark-mode .icon-clickable,
.card-header.header-custom.dark-mode .icon-noclick,
.card-footer.footer-custom.dark-mode .icon-noclick {
  filter: invert(100%);
}

.card-global.dark-mode {
  background-color: #2c2c2c; 
}

.card-global.dark-mode .plus-image {
  filter: invert(80%);
}

.card-default.dark-mode {
  border: 1px solid #898989;
}

.card-error.dark-mode {
  border: 2px solid red !important;
}

.card-current.dark-mode {
  border: 2px solid blue !important;
}

.card-unselected.dark-mode {
  border: 1px solid #898989;
}

.header-custom.dark-mode,
.footer-custom.dark-mode {
  background-color: #2c2c2c;
}
